@model MvcApplication4.Models.Calendar

@{
    ViewBag.Title = "Edit";
    Layout = "../_Edit.cshtml";
}
	<script src="../Assets/datepicker/js/bootstrap-datepicker.js"></script>
	<link href="../Assets/datepicker/css/datepicker.css" rel="stylesheet" />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <form id="formCreate" runat="server" role="form">
    <div class="container desc">
		<div class="rowCreate">
            <div class="divBovenCreate">
            <h2 class="page-header"><t>Edit this event</t></h2>
            </div>
				<div class="col-lg-6">
    			
				    <div class="editor-label">
                        <label>Title</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.titel, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.titel)
                    </div>
                    <div class="editor-label">
                        <label>Instructions</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.opdrachten, new {@class = "form-control"})
                    </div>

                    <div class="editor-label">
                        <label>Atmosphere</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.modus, new {@class = "form-control"})
                    </div>

                    <div class="editor-label">
                        <label>Note</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.note, new {@class = "form-control"})
                    </div>
        </div>
				<div class="col-lg-3">
                <div class="editor-label">
                   <label>Date</label>
                </div>
			    <div class="editor-field">
                        
                        @Html.TextBoxFor(model => model.datum, new {@class="form-control", @id = "datepicker" })
                    </div>

                    <div class="editor-label">
                        <label>Start time</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.start, new {@class = "form-control"})
                    </div>

                    <div class="editor-label">
                        <label>End time</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.einde, new {@class = "form-control"})
                    </div>
                   <p>
                   <input type="submit" value="Save" id="btnSave" class="btn btn-info"/>
                   </p>
                   <label class="label label-danger">@ViewBag.error</label>


				</div>
	
		</div>
        </div>
        
        </form>
 
 }
